input[type="text"],
input[type="number"] {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid black;
  transition: border 0.2s;
  padding: 0 0 0.2em 0;

  &:focus {
    outline: none;
    border-bottom-color: dodgerblue;
  }

  .error & {
    border-bottom-color: crimson;
  }
}

textarea {
  display: block;
  width: 100%;
  border: 2px solid black;
  padding: 0.5em;
  transition: border 0.2s;
  font: inherit;

  &:focus {
    outline: none;
    border-color: dodgerblue;
  }

  &[placeholder] + label {
    left: 0.5em;
    top: 0.5em;
    right: 0.5em;
    white-space: normal;
  }

  &[placeholder]:not(:placeholder-shown) + label {
    transform: translateY(-140%) scale(0.7);
  }
}

button {
  background: none;
  border: 2px solid black;
  padding: 0.5em 1em;
  font-weight: 700;

  &[disabled] {
    opacity: 0.6;
  }

  & + button {
    margin-left: 1em;
  }

  &.blank {
    color: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 0;
  }

  &.underlined {
    &:hover:not([disabled]) {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &.fancy {
    border-color: white;
    color: white;
    background-image: url(/fleck-button.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 6em 10em 8em 12em;
    filter: grayscale(1);
    will-change: filter;
    transition: filter 0.5s;
    cursor: pointer;

    @include max($xs) {
      padding: 3em 5em 4em 6em;
      filter: grayscale(0);
    }

    &:hover {
      filter: grayscale(0);
    }

    &:hover,
    &:active {
      outline: none;
      background-color: transparent;
    }

    &[disabled] {
      filter: grayscale(1);
      cursor: default;
    }
  }
}

.input {
  position: relative;
  margin-top: 2em;
  width: 100%;

  &.error {
    border-color: crimson;
  }
}

[placeholder] {
  &::placeholder {
    color: rgba(0, 0, 0, 0);
  }

  & + label {
    position: absolute;
    color: slategray;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    transition: transform 0.35s;
    transform-origin: left bottom;
    transform: translateY(0) scale(1);
  }

  /* &:not(.placeholder-shown) + label {
    transform: translateY(-100%) scale(0.7);
  } */

  &:not(:placeholder-shown) + label {
    transform: translateY(-100%) scale(0.7);
  }
}

.radio {
  position: relative;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;

  & + label {
    &:not(:first-of-type) {
      margin-left: 1em;
    }
    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
      border-radius: 1em;
      box-shadow: 0 0 0 2px black;
      border: 2px solid white;
      position: relative;
      top: 0.25em;

      .error & {
        box-shadow: 0 0 0 2px crimson;
      }
    }
  }

  &:checked + label {
    &:before {
      background-color: black;
    }
  }
}
