@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,700|Great+Vibes&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  @include max($xs) {
    &.navigation-open {
      height: 100vh;
      overflow: hidden;
    }
  }
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input,
button {
  font: inherit;
}

section {
  & + section {
    margin-top: 6rem;
  }
}

iframe {
  width: 100% !important;
  max-width: 100%;
}

img,
form {
  max-width: 100%;
}

.container {
  width: 100%;
  @include min($xxs) {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  @include max($xxs) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.row {
  width: 100%;
  margin: 1em auto;

  @include min($xs) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include max($xs) {
    &.mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > *:not(:first-child) {
        margin-left: 2em;
      }
    }
  }

  & > *:not(:first-child) {
    @include min($xs) {
      margin-left: 2em;
    }
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-center {
    justify-content: center;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.dot {
  position: absolute;
  z-index: -1;
  max-width: 2.5em;
  pointer-events: none;
}
