@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,700|Great+Vibes&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;

  @include max($xs) {
    &.navigation-open {
      height: 100vh;
      overflow: hidden;
    }
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input,
button {
  font: inherit;
}

.container {
  padding-right: 1em;
  padding-left: 1em;
}

.row {
  width: 100%;
  margin: 1em auto;

  @include min($xs) {
    display: flex;
    justify-content: space-between;
  }

  & > *:not(:first-child) {
    @include min($xs) {
      margin-left: 2em;
    }
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-center {
    justify-content: center;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
