@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Playfair+Display&display=swap");

$ratio: 1.25;

body {
  line-height: 1.5;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;

  @include min($xs) {
    --base: 20px;
    font-size: var(--base);
  }

  @include between($xxs, $xs) {
    --base: 16px;
    font-size: var(--base);
  }

  @include max($xxs) {
    --base: 14px;
    font-size: var(--base);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  display: block;
  margin: 1em auto;
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  text-align: center;
}

h1,
.h1 {
  font-size: calc(var(--base) * #{$ratio} * 3);
}
h2,
.h2 {
  margin-top: 4em;
  font-size: calc(var(--base) * #{$ratio} * 2.5);
}
h3,
.h3 {
  font-size: calc(var(--base) * #{$ratio} * 2);
}
h4,
.h4 {
  font-size: calc(var(--base) * #{$ratio} * 1.5);
}
h5,
.h5 {
  font-size: calc(var(--base) * #{$ratio} * 1);
}
h6,
.h6 {
  font-size: var(--base);
}

a {
  color: inherit;
}

p.error {
  color: crimson;
  font-size: 0.9em;
}
