backend:
  name: github
  repo: tuelsch/esra-wedding

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "pages"
    label: "Seiten"
    files: 
      - label: "Home"
        name: "home"
        file: "src/admin/content/home.yml"
        fields: 
          - {label: Title, name: title, widget: string}
          - {label: Datum, name: date, widget: date, format: DD.MM.YYYY}
          - {label: Hintergrundbild, name: background, widget: image, allow_multiple: false}